{% extends 'base.twig' %}

{% block content %}
    <form action="/search">
        <input type="search" name="q" value="{{ query|escape('html_attr') }}">
        <input type="submit" value="Search">
    </form>

    <div class="max-w-screen-md mx-auto">
        {% if articles %}
            <p>Found <strong>{{ articles|length }}</strong> items:</p>

            <div class="grid grid-cols-3">
                {% for article in articles %}
                    {% include 'partials/article.twig' with {'article': article} only %}
                {% endfor %}
            </div>
        {% else %}
            <p>Sorry! No items matched your search.</p>
        {% endif %}
    </div>
{% endblock %}
